<div class="center jumbotron">
    <div class="text-center">
            <img src="http://photoshopvip.net/wp-content/uploads/2014/07/worldvector_top.jpg" alt="">
        
<div>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'ヨーロッパ', europe_path %></button></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'アジア', asia_path %></button></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'ハワイ・ミクロネシア', hawaii_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'アメリカ大陸', america_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to '中南米・カリブ', caribbean_path %></button>
</div>
<div>
  <button type="button" class="btn btn-outline-secondary"><%= link_to '中近東', east_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'アフリカ', africa_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'モルディブ・インド洋', india_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to '南太平洋・オセアニア', oceania_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'ロシア・中央アジア', russia_path %></button>
</div>
</div>

<!--一覧-->

<%= render 'posts', posts: @posts %>