<div class="center jumbotron">
    <div class="text-center">
            <img src="http://photoshopvip.net/wp-content/uploads/2014/07/worldvector_top.jpg" alt="">
        
<div>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'ヨーロッパ', erea_path %></button></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'アジア', erea_path %></button></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'ハワイ・ミクロネシア', erea_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'アメリカ大陸', erea_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to '中南米・カリブ', erea_path %></button>
</div>
<div>
  <button type="button" class="btn btn-outline-secondary"><%= link_to '中近東', erea_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'アフリカ', erea_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'モルディブ・インド洋', erea_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to '南太平洋・オセアニア', erea_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'ロシア・中央アジア', erea_path %></button>
</div>
</div>

<!--一覧-->

<%= render 'posts', posts: @posts %>